.container{
    background-color: #D5F5E3;
    border-radius: 40px;
    padding: 20px;
    margin-top: 75px;
    height: 400px;
    width: 300px;
    opacity: .99;
    box-shadow: 5px 5px 10px hsl(5, 5%, 52%);
    
}

btn btn-danger btn-block{
    margin-right: 500px;
}

form-group{
    border-radius: 400px;
}

body {
  
  background-size: cover;

}

.comprador {
   
    border-radius: 30px;
    padding: 5px;
    margin-top: 25px;
    height: 270px;
    width: 300px;
    background-color: #3b4652;
    opacity: .95;
    padding: 0 20px;
    box-shadow: 0px 0px 8px hsl(0, 0%, 52%);
    
}

.menu{
    border-radius: 30px;
    padding: 5px;
    margin-top: 30px;
    height: 190px;
    width: 245px;
    background-color: #3b4652;
    opacity: .95;
    padding: 0 20px;
    box-shadow: 5px 5px 10px hsl(5, 5%, 52%);
    margin-left: 550px;    
    
}

.usu-img{
   margin-top: 20px;
   margin-bottom: 350px;
}

.regv{
    background-color: #D5F5E3;
    border-radius: 40px;
    padding: 0px;
    margin-top: 35px;
    height: 770px;
    width: 400px;
    opacity: .99;
    box-shadow: 5px 5px 10px hsl(5, 5%, 52%);
}

.menv{
       border-radius: 30px;
    padding: 5px;
    margin-top: 30px;
    height: 190px;
    width: 245px;
    background-color: #3b4652;
    opacity: .95;
    padding: 0 20px;
    box-shadow: 5px 5px 10px hsl(5, 5%, 52%);
    margin-left: 550px;  
}

.conv{
      border-radius: 30px;
    padding: 4px;
    margin-top: -50px;
    height: 455px;
    background-color: #EBF5FB;
    opacity: .95;
    padding: 0 20px;
    box-shadow: 5px 5px 10px hsl(5, 5%, 52%);
    margin-left: 80px; 
    width: 30px;
}

.actv{
    background-color: #D5F5E3;
    border-radius: 40px;
    padding: 0px;
    margin-top: 35px;
    height: 750px;
    width: 400px;
    opacity: .99;
    box-shadow: 5px 5px 10px hsl(5, 5%, 52%);
}